@font-face {
    font-family: 'GilroyBold';
    src: url(/fonts/Gilroy-ExtraBold.otf) format('opentype');
}

@font-face {
    font-family: 'GilroyLight';
    src: url(/fonts/Gilroy-Light.otf) format('opentype');
}

* {

    box-sizing: border-box;
    font-family: 'GilroyLight', Arial, Helvetica, sans-serif;
}

:root {
    --dark-color: #FF2442;
    --light-color: #FFEDDA;
    --warning-color: #FFB830;
}

main {
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--light-color);
    background-color: var(--dark-color);
}

.heading {
    font-family: 'GilroyBold', Arial, Helvetica, sans-serif;
    text-align: center;
}

.description {
    margin: 0 auto 0.5rem;
    padding: 1rem 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.4rem;
    font-weight: bolder;
    padding: 1.5rem 1rem 0.5rem;
}


.input {
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin: 1rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
    outline:none;
    color: var(--dark-color);
    font-weight: bold;
}

button {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: bolder;
    border-radius: 15px;
    background:transparent;
    color: var(--light-color);
    border:2px solid var(--light-color);
    outline: none;
}

button:hover,  button:active{
    background: var(--light-color);
    color:var(--dark-color);
}

.error-message {
    font-size: 1.3rem;
    margin: 1rem auto 0rem;
    color: var(--warning-color);
    font-weight: bold;
}

#cash-given-container {
    display: none;
}

table {
    border-collapse: collapse;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(255,255, 255, 0.2);
}

caption {
    font-weight: bolder;
    font-size: 1.4rem;
    margin: 1rem;
}

td,th {
    border: 2px solid var(--light-color);
    padding: 0.5rem;

}

@media only screen and (max-width:320px) {
    .description {
        padding: 0.5rem;
    }
}